<section class="content">
  <p>If you've got this far, I assume you'd like to know more.</p>
  <p>I'm a freelance software developer, specialising in web applications, and the 
     infrastructure that supports them. If you need someone who knows how to make
     a web application work, especially one developed using Rails, or deployed using
     Chef, then you could do worse then dropping an e-mail to 
     <a href="mailto:jon@blankpad.net">jon@blankpad.net</a>.</p>
  <p>In the past I've worked on applications for <a href="http://clara.net">Claranet</a>,
     <a href="http://ba.com">British Airways</a>, and <a href="http://tbwalondongroup.com">TBWA\London</a>,
     amongst other smaller projects.</p>
  <p>How about some less dry stuff?</p>
  <p>I've been married to <a href="http://lauramwood.tumblr.com/">Laura</a> since
     August 2009. We live in <a href="http://en.wikipedia.org/wiki/Egham">Egham</a>,
     a university town in Surrey, with a cat called Pepsi. I'll spare you the cat
     pictures.</p>
  <p>When I'm not working I enjoy playing games, cooking (and eating!) food, photography and 
     a good ale. I recomend Doom Bar, preferably with a roast beef dinner. Don't forget the
     Yorkshire pudding!</p>
  <p>Just in case you don't feel you know quite enough about me yet you can
      also find me on <a href="http://twitter.com/JellybobUK">Twitter</a> and 
      <a href="http://github.com/jellybob">GitHub</a>.</p>
</section>
