<section class="content">
  <p>If you've got this far, I assume you'd like to know more.</p>
  <p>I'm the lead developer at <a href="http://www.hubbub.co.uk/">Hubbub</a>, who let
      me combine my love of solving problems with my love of good food. We deliver to your
      home from some of the best independent food shops in North London.</p>
  <p>In the past I've worked on applications for <a href="http://clara.net">Claranet</a>,
     <a href="http://ba.com">British Airways</a>, and <a href="http://tbwalondongroup.com">TBWA\London</a>,
     amongst other smaller projects on a freelance basis.</p>
  <p>As if I don't get to write enough code at work, I lead a couple of Open Source projects
     as well. <a href="http://noumenon-cms.org">Noumenon</a> is a content management system
     which focuses on the content. <a href="http://github.com/jellybob/activo-rails/">Activo Rails</a>
     makes getting your Rails application started with a decent looking theme as simple as
     adding a gem to your Gemfile.</p>
  <p>How about some less dry stuff?</p>
  <p>I've been married to <a href="http://laura.blankpad.net/">Laura</a> since
     August 2009. We live in <a href="http://en.wikipedia.org/wiki/Egham">Egham</a>,
     a university town in Surrey, with a cat called Pepsi. I'll spare you the cat
     pictures.</p>
  <p>When I'm not working I enjoy playing games, cooking (and eating!) food, photography and 
     a good ale. I recomend Doom Bar, preferably with a roast beef dinner. Don't forget the
     Yorkshire pudding!</p>
  <p>Just in case you don't feel you know quite enough about me yet you can
      also find me on <a href="http://twitter.com/JellybobUK">Twitter</a> and 
      <a href="http://github.com/jellybob">GitHub</a>.</p>
</section>
