<section class="content">
  <dl>
    <dt>E-Mail</dt>
    <dd>jon@blankpad.net</dd>

    <dt>Phone</dt>
    <dd>07827 888143</dd>

    <dt>Twitter</dt>
    <dd><a href="http://twitter.com/JellybobUK">JellybobUK</a></dd>
    
    <dt>GitHub</dt>
    <dd><a href="http://github.com/jellybob">Jellybob</a></dd>
    
    <dt>Linked In</dt>
    <dd><a href="http://www.linkedin.com/profile/view?id=3040219">Here</a></dd>
  </dl>
</section>

