<!doctype html>
<html>
  <head>
    <title><%= title %> | Blank Pad Development</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/css/application.css" />
    
    <script type="text/javascript" src="/js/cufon.js"></script>
    <script type="text/javascript" src="/js/boris_black_bloxx_500.font.js"></script>
    <script type="text/javascript">
      Cufon.replace('h1');
      Cufon.replace('#introduction h2');
      Cufon.replace('h3');
      Cufon.replace('a#phone');
      Cufon.replace('a#email');
      Cufon.replace('nav ul li');
    </script>
    <link rel="alternate" type="application/atom+xml" title="<%= title %> - feed" href="/index.xml" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
  </head>
  <body>
    <header id="top">
      <h1><span>Blank Pad Development</span></h1>
      <nav>
        <ul>
          <li id="about"><a href="/about">About</a></li>
          <li id="blog"><a href="/">Blog</a></li>
          <li id="contact"><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </header>
    <section id="introduction">
      <div class="container">
        <img src="/images/jon.jpg" alt="A photo of Jon" width="120" height="120" />
        <h2>Hello There</h2>
        <p>
          I’m Jon, and over the past 6 years I’ve been involved in the development of web applications big and small.
          Whether you want a full e-commerce solution, an application to streamline your business processes, or 
          a business idea turned into a reality, I can use some of that experience to help you.
        </p>
        <p>
          Have a look round, and if you like what you see, get in touch to discuss how I can help you.
        </p>
      </div>
    </section>
    <div id="main">
      <%= yield %>
    </div>
    <footer>&nbsp;</footer>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-2877032-10']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </body>
</html>
