<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="alternate" type="application/atom+xml" title="<%= title %> - feed" href="/index.xml" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <title><%= title %></title>
  </head>
  <body>
    <section>
      <%= yield %> 
    </section>
    <footer>
      <p><a href="/about">Find out more about this site, and it's author</a></p>
      <p>powered by <a href="http://cloudhead.io/toto">toto</a></p>
    </footer>
  </body>
</html>

